body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

button {
    background-color: #1f8ef1;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #0e6ec5;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ffffff;
    padding: 10px;
}

th {
    background-color: #333;
}

.awol {
    background-color: #ff4c4c;
    color: white;
}

.motto-highlight {
    background-color: #FFC94D;
    color: #000000;
}

hr.rounded {
    border-top: 8px #333;
    border-radius: 5px;
}